ESUPERVISION_API_URL=
DASHBOARD_URL=
PROBATION_CHECK_IN_URL=
AUTH_URL=
MPOP_URL=
MANAGE_CHECKINS_UI_URL=
DELIUS_USERNAME=
DELIUS_PASSWORD=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
PRACTITIONER_NAME=
TEST_PERSON_FIRST_NAME=
TEST_PERSON_LAST_NAME=
TEST_PERSON_DOB=
TEST_MPOP_STOP_RESTART_CRN=
TEST_MPOP_ELIGIBILITY_CRN=
# TODO(legacy-mpop): Delete this variable when legacy MPOP is removed.
LEGACY_MPOP=